.overcrowdingAlert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.75);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    z-index: 1000; 
  }

.leaflet-container {
  /* border-radius: 45px !important;  */
  /* overflow: hidden;  */
}

.mapContainer {
justify-content: left!important;
  /* border-radius: 45px; */
  /* overflow: hidden;  */
  
}
