.activityChartContainer {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #161524;  
    color: #b89cf6; 
    font-family: exoLight;
    width: 580px; 
    height: 290px;
  }
  
  .chartjs-render-monitor {
    width: 100% !important;
    height: 100% !important;
  }