

.barChartContainer {
  background-color: #161524;
  color: #cebafa;
    padding: 5px;
    border-radius: 8px;
    margin-top: 10px;
    height: 300px;
    width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -670px;
    margin-right: 0px ;
}

.chartContainer .chart {
  height: 100%;
}
