.home-container {
    display: flex;
    justify-content: left !important;
    align-items: left !important;
    max-height: 90;    
    padding: 5px;
    border-radius: 45px;
    border: 2px solid black;
    margin: 10px; 
    overflow-y: hidden;
    position: relative; 

    box-sizing: border-box; 
  }
  

  .leaflet-container {
    border-radius: 5px !important;
    overflow: hidden; 
    justify-content: left !important;
    align-items: left !important;
  }
  
