.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 90;    
    padding: 20px;
    border-radius: 45px;
    border: 2px solid black;
    margin: 50px; 
    overflow-y: hidden;
    position: relative; 

    box-sizing: border-box; 
  }
  

  .leaflet-container {
    border-radius: 45px !important;
    overflow: hidden; 
  }
  
