.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 90;    
    padding: 20px;
    border-radius: 45px;
    border: 2px solid black;
    margin: 50px; /* Your desired margin */
    overflow-y: hidden;
    position: relative; /* Make sure container is relative for absolute positioning inside */

    box-sizing: border-box; /* Make sure padding and border are included in the element's total width and height */
  }
  
