.predictedGraphContainer {
    background-color: #333;
    padding: 1%;
    border-radius: 5%;
    margin: 0.5%;

    width: 50%; 
    height: 80%;

    min-width: 20%;
    max-width: 30%; 
    
    display: flex;

    justify-content: center;
    align-items: center;
    position: relative;
  }
  