.app {
  display: flex;
  background-color:rgb(0, 0, 28);
  background-image: url(/src/images/yvr_bg_transp.png);
  background-size: contain;
}

.mapContainer {
  margin-left: 1.5%;
  height: 100%;
  width: 55%; 
  justify-content: left;
  background-color: transparent;
}


body {
  background-color: black;
  margin: 0;
  padding: 0;
}